* text=auto eol=crlf

*.bsl text eol=crlf
*.os text eol=crlf
*.mdo text eol=crlf
*.xml text eol=crlf
*.dcs text eol=crlf
*.form text eol=crlf
*.cmi text eol=crlf
*.rights text eol=crlf
*.json text eol=crlf
*.txt text eol=crlf
*.md text eol=crlf
*.vrd text eol=crlf

*.sh text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.toml text eol=lf

*.epf binary
*.erf binary
*.ert binary
*.cf binary
*.cfe binary
*.dt binary
*.1cd binary
*.mxl binary
*.bin binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.bmp binary
*.zip binary
*.7z binary
*.gz binary
*.svg binary
*.geom binary
